---
name: Deploy

on:
  workflow_dispatch:
  #   inputs:
  #     reason:
  #       required: true
  #       description: 'Reason for running this workflow'
  push:
    branches:
      - main

    # Don't trigger if it's just a documentation update
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '**.yml'
      - 'LICENSE'
      - '.gitattributes'
      - '.gitignore'
      - '.dockerignore'

jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get latest tag from pw-feeder
        id: latest_tag
        run: |
          REPO_OWNER="plane-watch" # Replace with the owner of the other repo
          REPO_NAME="pw-feeder"   # Replace with the name of the other repo
          LATEST_RELEASE_TAG=$(curl -s "https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/releases/latest" | jq -r .tag_name)
          echo "latest_tag_name=$LATEST_RELEASE_TAG" >> $GITHUB_OUTPUT

      - name: Build linux/amd64
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: false
          cache-to: type=local,dest=/tmp/buildcache

      - name: Build linux/arm64
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          push: false
          cache-to: type=local,dest=/tmp/buildcache

      - name: Build linux/arm/v7
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm/v7
          push: false
          cache-to: type=local,dest=/tmp/buildcache


      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          cache-from: type=local,src=/tmp/buildcache
          tags: ghcr.io/plane-watch/docker-plane-watch:latest,ghcr.io/plane-watch/docker-plane-watch:${{ steps.latest_tag.outputs.latest_tag_name }}
